<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - My Flask App</title>
</head>
<body>
    {% include 'header.html' %}
    
    <main>
        <h1>Contact Us</h1>
        <p>If you have any questions or would like to get in touch with us, please feel free to reach out. We would love to hear from you and assist you with any inquiries you may have.</p>
    </main>
    
    {% include 'footer.html' %}
</body>
</html>